// Placeholder to quickly add your own styles
// The file is included last in the build pipeline

@import "photoswipe";

// Headings Font
/* doppio-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/doppio-one-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/doppio-one-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/doppio-one-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/doppio-one-v13-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/doppio-one-v13-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/doppio-one-v13-latin-regular.svg#DoppioOne') format('svg'); /* Legacy iOS */
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .btn {
    font-family: 'Doppio One';
}



.lana-right {
  max-width: 300px;
}

.btn-warning {
  text-transform: uppercase;
}

