{{ if .Site.Params.footer.socialTitle }}
    {{ warnf "DEPRECATED: parameter `Params.home.socialTitle` has been deprecated in release v0.18"}}
{{ end }}
{{ if .Site.Params.footer.socialCaption }}
    {{ warnf "DEPRECATED: parameter `Params.home.socialCaption` has been deprecated in release v0.18"}}
{{ end }}

{{ if gt .Site.Menus.social 0 }}
    {{- $tab := site.Params.main.externalLinks.tab -}}
    <div class="container-fluid bg-opacity-{{ .Site.Params.style.themeOpacity | default "25" | safeHTML }}">
        <div class="container-xxl px-4 px-xxl-0">
            <div class="row row-cols-2 py-3 align-items-center">
                <div class="col col-12">
                    <div class="row text-center p-0">
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                              <a class="btn btn-warning btn-lg px-4 me-sm-3 fw-bold">Call</a>
                              <a class="btn btn-warning btn-lg px-4">Request Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
